<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Обо мне</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Текст про одно идёт тут и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт всё хватит пока</p>
      </div>
      <div class="col-lg-4">
        <p>Текст про другое идёт тут и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт и идёт всё хватит пока</p>
      </div>
      </div>
    </div>
  </div>
</section>
